/* CSS Document */
body{
	font-family: var(--heading-font);
	margin:2px 0px 0px 0px;
	padding:0px;
	font-size:11pt;
}

#content h2 h3{
	color: var(--heading-color);
  font-family: var(--heading-font);
}
#container{
	width:80%;
	margin:0px auto;
}
#container #top img{
	border:none;
	margin-top:20px;
}
#container #top #version{
	float:right;
	color:#0582cf;
}
#container #top #version a{
	text-decoration:none;
}
#container #top #version a:hover{
	color:#000;
}
#container #topNav{
	clear:both;
	margin:10px 0px;
	height:25px;
	background-image:url(images/lineBg.jpg);
	background-repeat:repeat-x;
}
#container #topNav ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:780px;
	margin:0px auto;
}
#container #topNav ul li{
	background-color:#FFF;
	padding:0px 8px;
	float:left;
	border-right:1px solid #0582cf;
}
#container #topNav ul li.last{
	border-right:none;
}
#container #topNav a{
	text-decoration:none;
	font-weight:bold;
	font-size:12pt;
	color:#0582cf;
}
#container #topNav a:hover{
	color:#000;
}
#container #left{
	float:left;
	width:25%;
}
#container #left img{
	border:2px solid #FFF;
	margin:2% 0px;
}
#container #left img:hover{
	border:2px solid #000;
}
#container #content{
	float:right;
	width:70%;
	text-align:justify;
}
#container #content h2{
	color:#0582cf;
	border-bottom:2px solid #0582cf;
}
#container #content p{
	text-align:justify;
}
#container #footer{
	clear:both;
}
#container #footer #footerLeft{
	float:left;
	width:25%;
}
#container #footer #footerLeft img{
	margin-top:45%;
}
#container #footer #footerRight{
	float:right;
	width:70%;
}

/* CSS */
.button-61 {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

.button-61:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.button-61:not(:disabled) {
  background-color: #6200ee;
}

.button-61:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #A46BF5;
}